{% extends 'layout.html' %}
{% block content %}
  <form action="{{ url_for('login') }}" method="post">
    {% if require %}username or password is incorrect<br>{% endif %}

    <label for="email">Email or Username</label><br>

    <input id="email" name="email" placeholder="" required /><br>

    <label for="password">password</label><br>

    <input type="password" id="password" name="password" placeholder="" required /><br>

    <input type="submit" value="Log in" /><br>
    <p>Haven't have an account? <a href="/sign_up">Sign up</a></p>
  </form>
{% endblock %}
