{% extends 'layout.html' %}
{% block content %}
  <form action="{{ url_for('sign_up') }}" method="post">
    <table class="sign_up">
      <tr>
        <td>
          <label for="email">email</label>
        </td>
      </tr>
      <tr>
        <td>
          <input type="email" id="email" name="email" placeholder="eg. hello123@gmail.com" required />
        </td>
      </tr>
      <tr>
        <td>
          <label for="username">username</label>
        </td>
      </tr>
      <tr>
        <td>
          <input type="text" id="username" name="username" placeholder="" required />
        </td>
      </tr>
      <tr>
        <td>
          <label for="password">password</label>
        </td>
      </tr>
      <tr>
        <td>
          <input type="password" id="password" name="password" placeholder="" required /><br>
          Your password must contain at least 3 of the following: <br>
  - Capital letter (A-Z) <br>
  - Lower case letter (a-z) <br>
  - Number <br>
  - Special characters eg. ! ; _ - <br>

        </td>
      </tr>
      <tr><td><input type="submit" value="Sign Up"></td></tr>
    </table>
  </form>
{% endblock %}
