{% extends 'layout.html' %}
{% block content %}
  <form action="{{ url_for('sign_up') }}" method="post">
    <label for="email">email</label><br>

    <input id="email" name="email" placeholder="eg. hello123@gmail.com" /><br>
    {% if email %}
      <p class="warning">{{ email }}</p>
    {% endif %}

    <label for="username">username</label><br>

    <input type="text" id="username" name="username" placeholder="" required /><br>
    {% if username %}
      <p>{{ username }}</p>
    {% endif %}

    <label for="password">password</label><br>
    <input type="password" id="password" name="password" placeholder="" required /><br />

    <label for="confirm_password">confirm password</label><br>

    <input type="password" name="confirm_password" id="confirm_password" /><br>
    <p>
      Your password must contain at least 3 of the following: <br />
      - Capital letter (A-Z) <br />
      - Lower case letter (a-z) <br />
      - Number <br />
      - Special characters eg. ! ; _ - <br />
    </p>
    {% if password %}
      {{ password }}
    {% endif %}
    <input type="submit" value="Sign Up" />
    <p>Already have an account? <a href="/login">Log in</a></p>
  </form>
{% endblock %}
