{% extends 'layout.html' %}
{% block content %}
    <h1>Verify Your Account</h1>

    
    <form action="{{ url_for('verify_page') }}" method="post" class="verify">
        <p class="verify">We’ve sent a verification code to <strong>{{email}}</strong>. <br>
         Please check your inbox and enter the code below:</p>

        <label for="code">Verification Code:</label>
        <input type="text" id="code" name="code" class="verify">
        {% if verify %}
        <span class="warning">Your verification code is incorrect</span>
        {% endif %}<br>
        <input type="submit" value="Verify" class="verify">
    </form>
{% endblock  %}