{% extends 'layout.html'%}
{% block content %}
<h2>Your Diary in...</h2>
<a href="/{{ year }}/01">January</a>
<a href="/{{ year }}/02">February</a>
<a href="/{{ year }}/03">March</a>
<a href="/{{ year }}/04">April</a>
<a href="/{{ year }}/05">May</a>
<a href="/{{ year }}/06">June</a>
<a href="/{{ year }}/07">July</a>
<a href="/{{ year }}/08">August</a>
<a href="/{{ year }}/09">September</a>
<a href="/{{ year }}/10">October</a>
<a href="/{{ year }}/11">November</a>
<a href="/{{ year }}/12">December</a>
{% endblock %}